button {
    font-weight: bold;
    padding: 6px 20px;
    margin: 5px;
    border: solid 2px rgb(255, 255, 255);
    /* border: solid 2px rgb(47, 217, 255); */
    border-radius: 8px;
    cursor: pointer;
    background-color: black;
    background-image: linear-gradient(
        -10deg,
        rgba(0, 255, 255, 0),
        rgba(0, 255, 255, 0.1),
        rgba(0, 255, 255, 0.15),
        rgba(0, 255, 255, 0.1),
        rgba(0, 255, 255, 0)
    ); 
    color: rgb(255, 255, 255);
}

button:hover{
    border: solid 2px rgb(47, 217, 255);;
    background-image: linear-gradient(
        10deg,
        rgba(0, 255, 255, 0.2),
        rgba(0, 255, 255, 0.3),
        rgba(0, 255, 255, 0.35),
        rgba(0, 255, 255, 0.3),
        rgba(0, 255, 255, 0.2)
    ); 
    color: rgb(47, 217, 255);;
    box-shadow: 0 0 3px, 0 0 5px royalblue inset;
    transition: box-shadow 0.25s;
    scale: 1.02;
}

button:active{
    border: solid 3px rgb(61, 255, 47);
    background-image: linear-gradient(
        -10deg,
        rgba(0, 255, 255, 0.25),
        rgba(0, 255, 255, 0.35),
        rgba(0, 255, 255, 0.4),
        rgba(0, 255, 255, 0.35),
        rgba(0, 255, 255, 0.25)
    ); 
    box-shadow: 0 0 5px, 0 0 7px royalblue inset;
    transition: box-shadow 0.05s;
    scale: 0.98;
    color: rgb(51, 245, 37);
}

