
main{
    background-color: rgb(248, 238, 226);
    padding-bottom: 1.5rem;
    border-radius: 0 0 0 2.5rem;
}

.img-div{
    display: flex;
    justify-content: center;
    user-select: none;
}

.main-toy{
    width: 80%;
    max-width: 400px;
    height: auto;
    filter: drop-shadow(-12px 5px 12px rgba(0, 0, 0, 0.5)); 
}

.blueFace{
    filter: drop-shadow(10px 1px 6px rgba(0, 0, 0, 0.5));
}

.speaker-div{
    display: flex;
    justify-content: center;
    user-select: none;
}

.speaker-on{
    position: absolute;
    margin-left: 10rem;
    z-index: 12;
}

@media screen and (max-width: 768px) {
    .speaker-on{
        right: 1rem;
        z-index: 12;
    }
}

.oth-optios-div{
    display: flex;
    justify-content: center;
    user-select: none;
    margin: 0.8rem 0.3rem 0 0.3rem;
    padding-right: 1rem;
}

.option-toy-div{
    width: 20%;
    max-width: 50px;
    margin: 0 1rem;
    padding: 6px;
    padding-bottom: 3px;
    background-color: rgb(229, 214, 196);
    border-radius: 20%;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid rgba(0, 0, 0, 0.3);
}

.option-toy{
    width: 100%;
    height: auto;
    filter: drop-shadow(-1px 2px 8px rgba(0, 0, 0, 0.5));
}

.info-div-bg-color{
    background-color: rgb(248, 238, 226);
}

.info-div{
    background: white;
    padding: 1rem 0.8rem 1rem 1.2rem;
    color: #5e4840;
    border-radius: 0 2.5rem 2.5rem 0;
}

    .title{
        margin: 0.6rem 0 0.2rem 0;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .abilities{
        margin: 0.2rem 0 1rem 0;
    }

    .description{
        margin: 0.45rem 0;
    }

    .description a{
        text-decoration: none;
        color: #5e4840;
    }

    .hyperlink{
        position: relative;
        left: -0.4rem;
        top: -0.1rem;
    }

    span{
        font-weight: bold;
    }

    .note{
        font-size: 0.75rem;
        padding-top: 0.8rem;
    }
    
.material-div{
    background: rgb(248, 238, 226);
    padding: 1rem 0 1rem 1.2rem;
    color: #5e4840;
    border-radius: 2.5rem 0 0 2.5rem;
}

.media-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.scrollable-media{
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem 0;
    margin: 0 0.2rem;
    scroll-snap-type: x mandatory;}

.media-item {
    flex: 0 0 auto;
    height: 100px;
    height: auto;
    scroll-snap-align: start;
    background: #f8f8f8;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.media-img{
    height: 150px;
    object-fit: cover;

}

.buy-div-bg-color{
    background-color: rgb(248, 238, 226);

}

.buy-div{
    background: white;
    padding: 1rem 0 1rem 1.2rem;
    color: #5e4840;
    border-radius: 0 2.5rem 2.5rem 0;
}

.memories-div{
    background: rgb(248, 238, 226);
    padding: 1rem 0 1rem 1.2rem;
    color: #5e4840;
    border-radius: 2.5rem 0 0 2.5rem;
}

.call-div-bg-color{
    background-color: rgb(248, 238, 226);
}

.call-div{
    padding: 1rem;
    background-color: white;
    border-radius: 0 2.5rem 0 0;
}

.upload-container {
    margin-top: 1rem;
}

.upload-label {
    display: block;
    margin-bottom: 0.5rem;
}