body{
}

main{
    background-color: rgb(248, 238, 226);
    padding-bottom: 1.5rem;
    border-radius: 0 0 0 2.5rem;
}

.img-div{
    display: flex;
    justify-content: center;
    user-select: none;
}

.main-toy{
    width: 80%;
    max-width: 400px;
    height: auto;
}

.speaker-div{
    display: flex;
    justify-content: center;
    user-select: none;
}

.speaker-on{
    position: absolute;
    margin-left: 10rem;
}

@media screen and (max-width: 768px) {
    .speaker-on{
        right: 1rem;
    }
}

.oth-optios-div{
    display: flex;
    justify-content: center;
    user-select: none;
    margin: 0.8rem 0.3rem 0 0.3rem;
    padding-right: 1rem;
}

.option-toy-div{
    width: 20%;
    max-width: 50px;
    margin: 0 1rem;
    padding: 6px;
    padding-bottom: 3px;
    background-color: rgb(229, 214, 196);
    border-radius: 20%;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid rgba(0, 0, 0, 0.3);
}

.option-toy{
    width: 100%;
    height: auto;
}

.info-div-bg-color{
    background-color: rgb(248, 238, 226);
}

.info-div{
    background: white;
    padding: 1rem 0 1rem 1.2rem;
    color: #5e4840;
    border-radius: 0 2.5rem 2.5rem 0;
}

    .title{
        margin: 0.6rem 0 1rem 0;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .description{
        margin: 0.45rem 0;
    }

    span{
        font-weight: bold;
    }

    .abilities{
        margin: 0.2rem 0;
    }

.call-div{
    padding: 1rem;
    background-color: rgb(248, 238, 226);
    border-radius: 2.5rem 0 0 0;
}